.layui-layout-admin .layui-header {
    background-color: #ffffff;
	border-bottom: 1px solid #e6e6e6;
}
.layui-nav .layui-nav-item .user-and-img,.layui-nav .layui-nav-item .user-and-icon,.layui-nav .nav-top-icon a,.layui-nav .layui-nav-item .menuBtn{
	color:#000000;
}
.layui-nav .layui-nav-item .user-and-img:hover,.layui-nav .layui-nav-item .menuBtn:hover,.layui-nav .nav-top-icon a:hover,.layui-nav .layui-nav-item .user-and-icon:hover{
	color:#000000;
}
.layui-nav .user-and-img .layui-nav-more{
	display: none;
}
.layui-nav{
	background-color: #393d49;
}
.layui-bg-black {
    background-color: #393d49!important;
}
.layui-layout-admin .layui-logo{
	border-bottom: 1px solid #32343a;
}
.layui-tab-card>.layui-tab-title{
	background-color: #ffffff;
}
.layui-tab-card>.layui-tab-title .layui-this {
    background-color: #009688;
}
.layui-tab-brief>.layui-tab-title .layui-this {
    color: #f7f7f7;
}