<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>内容模板</title>
</head>
<body>
	<div class="perfree-content" th:fragment="content">
		<!-- content start 内容部分开始 -->
		<div class="layui-body">
			<div class="layui-tab layui-tab-brief layui-tab-card" lay-allowClose="true" lay-filter="tabNav">
				<ul class="layui-tab-title content-tab-title">
					<li lay-id="0" style="display: none">
						<i class="layui-icon">&#xe68e;</i>
						模板
					</li>
					<li lay-id="1" class="layui-this">
						<i class="fa fa-home" style="font-size: 16px;"></i>
						控制台
					</li>
				</ul>
				<div class="layui-tab-content">
					<div class="layui-tab-item layui-show"></div>
					<div class="layui-tab-item layui-show" style="">
						<iframe id="contentIframe" src='/main' scrolling='auto' width='100%'
							height='100%' frameborder='0' class="layui-anim layui-anim-upbit perfree-ifram"></iframe>
					</div>
				</div>
			</div>
		</div>
		<!-- content end 内容部分结束 -->
	</div>
</body>
</html>