<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<title>顶部模板</title>
</head>
<body>
	<div class="perfree-header" th:fragment="header">
		<!-- nav start 导航部分开始 -->
		<div class="layui-header navbar-header">
			<ul class="layui-nav layui-layout-left left-nav-list">
				<li class="layui-nav-item nav-top-icon" lay-unselect>
					<a href="javascript:;" class="menuBtn" lay-tips="显示/隐藏菜单">
						<i class="fa fa-navicon" style="font-size: 16px;"></i>
					</a>
				</li>
				<li class="layui-nav-item nav-top-icon" lay-unselect>
					<a href="javascript:;" class="refreshBtn" lay-tips="刷新">
						<i class="fa fa-refresh" style="font-size: 16px;"></i>
					</a>
				</li>
			</ul>
			<ul class="layui-nav layui-layout-right nav-header-right">
				<li class="layui-nav-item nav-top-icon" lay-unselect>
					<a href="javascript:;" lay-tips="消息">
						<i class="fa fa-bell-o" style="font-size: 16px;"></i>
					</a>
				</li>
				<li class="layui-nav-item nav-top-icon" lay-unselect>
					<a href="javascript:;" lay-tips="更换主题" class="choose-theme-btn">
						<i class="fa fa-tachometer" style="font-size: 16px;"></i>
					</a>
				</li>
				<li class="layui-nav-item nav-top-icon" lay-unselect>
					<a href="javascript:;" lay-tips="全屏" class="full-scann">
						<i class="fa fa-television" style="font-size: 16px;"></i>
					</a>
				</li>
				<li class="layui-nav-item" lay-unselect>
					<a href="javascript:;" class="user-and-img">
						<img class="layui-nav-img" th:src="@{/images/head.jpg}" id="userImg">
						<span>
							<shiro:principal property="account" />
						</span>
					</a>
					<a href="javascript:;" class="user-and-icon">
						<i class="fa fa-user-o" style="font-size: 16px;"></i>
					</a>
					<dl class="layui-nav-child top-user-child">
						<dd>
							<a href="javascript:;" id="userCenter">个人资料</a>
						</dd>
						<dd>
							<a th:href="@{/logout}">退出登录</a>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
		<!-- nav end 导航部分结束 -->
	</div>
</body>
</html>