<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>菜单模板</title>
</head>
<body>
	<div class="perfree-menu" th:fragment="menu">
		<!-- menu start 菜单部分开始 -->
		<div class="layui-side layui-bg-black left-navbar-menu">
			<div class="layui-side-scroll">
				<div class="layui-logo">
					<a href="#" class="logo-text">
						<i class="fa fa-pagelines" style="font-size: 20px;"></i>
						<span class='logo-text-value'>Go-Fastdfs 管理</span>
					</a>
				</div>
				<ul class="layui-nav layui-nav-tree left-menu" lay-filter="menu" lay-shrink="all">
					<!-- 菜单列表 -->
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;" class="nav-menu-a" onclick="openTab('book','控制台','/main','1');">
							<i class="fa fa-home" style="font-size: 16px;"></i>&nbsp;&nbsp;<span class="menu-text">控制台</span>
						</a>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;" class="nav-menu-a">
							<i class="fa fa-file-archive-o" style="font-size: 14px;"></i>&nbsp;&nbsp;<span class="menu-text">文件管理</span>
						</a>
						<dl class="layui-nav-child">
							<dd class="child-menu" lay-unselect>
								<a href="javascript:;" onclick="openTab('cloud-upload','文件上传','/file/upload','2');" class="nav-menu-a-child" id="fileUpload">文件上传</a>
							</dd>
							<dd class="child-menu" lay-unselect>
								<a href="javascript:;" onclick="openTab('folder-o','文件列表','/file','3');" class="nav-menu-a-child" id="file">文件列表</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;" class="nav-menu-a" >
							<i class="fa fa-cubes" style="font-size: 14px;"></i>&nbsp;&nbsp;<span class="menu-text">集群管理</span>
						</a>
						<dl class="layui-nav-child">
							<dd class="child-menu" lay-unselect>
								<a href="javascript:;" onclick="openTab('cube','集群列表','/peers','4');" class="nav-menu-a-child" >集群列表</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;" class="nav-menu-a" >
							<i class="fa fa-cogs" style="font-size: 14px;"></i>&nbsp;&nbsp;<span class="menu-text">系统设置</span>
						</a>
						<dl class="layui-nav-child">
							<dd class="child-menu" lay-unselect>
								<a href="javascript:;" onclick="openTab('cog','基础设置','/settings/setting','5');" class="nav-menu-a-child" id="settingsSetting">基础设置</a>
							</dd>
							<dd class="child-menu" lay-unselect>
								<a href="javascript:;" onclick="openTab('user-o','个人资料','/settings/user','6');" class="nav-menu-a-child" id="settingsUser">个人资料</a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<!-- menu end 菜单部分结束 -->
	</div>
</body>
</html>