html, body {
	margin: 0;
	height: auto;
	min-height: 100%;
	font-size: 12px;
	line-height: 1.5;
	color: #657180;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	font-family: Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
		微软雅黑, Arial, sans-serif;
}
.layui-layout-body{
	position : fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.layui-side-scroll{
	width:auto;
}
.layui-header{
	left: 200px;
}
.layui-layout-admin .layui-side{
	top:0px;
}
.layui-layout-admin .layui-logo{
	text-align: center;
	color: #009688;
	font-size: 16px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1002;
	width: 200px;
	height: 60px;
	padding: 0px 10px;
	box-sizing: border-box;
	overflow: hidden;
	font-weight: 400;
	background-repeat: no-repeat;
	background-position: center center;
	line-height: 59px;
	border-bottom: 1px solid #181a1f;
}
.layui-layout-admin .layui-logo .logo-text{
	color: white;
	font-weight: 700;
}
.logo-text i{
	display: none;
}
.layui-nav{
	padding: 0;
	background-color: #23262e;
	width:auto;
}
.layui-nav .layui-nav-item .nav-menu-a{
	padding-left: 20px;
}
.layui-nav-tree{
	margin-top: 60px;
}
.layui-nav-item .nav-menu-a{
	transition: transform .5s ease;
}
.layui-nav-tree .layui-nav-child .nav-menu-a-child{
	padding-left: 40px;
}
.layui-nav-tree .layui-nav-child .nav-menu-a-child:hover{
	background-color: #4E5465;
}
.layui-bg-black {
	background-color: #23262e!important;
}
.layui-layout-left{
	position: absolute!important;
	left: 0;
	top: 0;
}
.layui-tab{
	margin-top: 0;
	border-width: 0px;
}
.layui-tab-content {
    padding: 0;
}
.layui-nav .layui-nav-item a{
	padding: 0 10px;
}
.layui-tab-item iframe{
	background: #f2f2f2;
}
.layui-layout-right{
	right: 220px;
}
.layui-nav .layui-nav-item .user-and-icon{
	display: none;
}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{
	height: 3px;
}
.theme{
	position: absolute;
    right: -288px;
    z-index: 1024;
    width: 288px;
    height: 100%;
	background: white;
}
.theme-box{
    display: block;
	border: 1px solid white;
	width: 120px;
    height: 88px;
	float: left;
	margin-right: 10px;
}
.theme-header{
	border-bottom: 0;
	height: 20px;
}
.theme-body{
	padding: 0;
}
.left-menu-theme{
    width: 35px;
    height: 68px;
	float: left;
}
.theme-name{
	float: left;
	width: 85px;
	line-height: 68px;
	text-align: center;
}
.theme-box:hover{
	border:1px solid #5FB878;
}
.fa{
	width: 20px;
}
.layui-body{
	height: 100%;
}
.theme-box-body{
	padding: 10px 12px;
}
@media screen and (max-width:640px ) {
	.layui-layout-right{
		right:200px;
	}
	.layui-nav .layui-nav-item .user-and-img{
		display: none;
	}
	.layui-nav .layui-nav-item .layui-nav-more{
		display: none;
		border-style:none;
	}
	.layui-nav .layui-nav-item .user-and-icon{
		display: block;
	}
	.top-user-child{
		left:-45px;
	}
	.layui-nav .layui-nav-item .full-scann{
		display: none;
	}
	.layui-layout-admin .navbar-header .nav-header-right{
		right: 0;
	}
	.left-navbar-menu{
		width: 0;
	}
	.layui-layout-admin .layui-side{
		width: 0px;
	}
	.layui-layout-admin .layui-logo{
		width: 0px;
		padding: 0px;
	}
	.layui-header,.layui-body,.layui-layout-admin .layui-footer{
		left: 0;
	}
	.layui-nav .layui-nav-item .donation-top{
		display: none;
	}
	
}