html, body {
	margin: 0;
	height: auto;
	min-height: 100%;
	font-size: 12px;
	line-height: 1.5;
	color: #657180;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	font-family: Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
		微软雅黑, Arial, sans-serif;
}
.install-bg {
  /*background: #eeeeee 0 0 no-repeat;*/
  background: url(/images/bg.png) no-repeat center;
  background-size: cover;
  background-attachment:fixed;
}
.install{
	margin: 120px auto 0 auto;
    min-height: 420px;
    max-width: 420px;
    padding: 40px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    box-sizing: border-box;
}
.install .message {
  margin: 10px 0 0 -58px;
  padding: 18px 10px 18px 60px;
  background: #189F92;
  position: relative;
  color: #fff;
  font-size: 16px;
}
.install #darkbannerwrap {
  background: url(/images/aiwrap.png);
  width: 18px;
  height: 10px;
  margin: 0 0 20px -58px;
  position: relative;
}
.install input[type=text],
.install input[type=file],
.install input[type=password],
.install input[type=email],
.install select {
  border: 1px solid #DCDEE0;
  vertical-align: middle;
  border-radius: 3px;
  height: 50px;
  padding: 0px 16px;
  font-size: 14px;
  color: #555555;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.install input[type=text]:focus,
.install input[type=file]:focus,
.install input[type=password]:focus,
.install input[type=email]:focus,
.install select:focus {
  border: 1px solid #27A9E3;
}
.install input[type=submit],
.install input[type=button] {
  display: inline-block;
  padding: 12px 24px;
  margin: 0px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: #ffffff;
  background-color: #189F92;
  border-radius: 3px;
  border: none;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
}
.install hr {
  background: #fff 0 0 no-repeat;
}
.install hr.hr15 {
  height: 15px;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.install hr.hr20 {
  height: 20px;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}